.change-currency {
  display: flex;
  height: 100%;
  font-size: 1.4rem;

  & i {
    margin: 0 !important;
    padding: 0 !important;
    width: 20px !important;
    height: 20px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}