.shopping-cart {
  margin-left: 10px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

   @media (max-width: 1280px) {
   display: none;
  }

  & .cart-title {
    margin: 10px;
  }

  & .cart-top {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    & .cart-top-with-arrow {
      display: flex;
    }

    & i {
        cursor: pointer;

    }


  }

  & .cart-empty {
    margin-top: 20px;
    font-size: 16px;
  }

  & .cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  & .cart-body {
    width: 100%;
  }
  
  & .cart-bottom {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;

  }
      & .cart-bottom-button {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 20px;
      }

  & .clear-all-cart-items {
    cursor: pointer;
    color: #21ba45;
  }
}

